body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    width: 15%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;



    
}

h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    width: 100%;
    height: auto;



}



label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    height: auto;
    text-align: center;
}

button {
    padding: 10px;
    background-color: #4193ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover{
    background-color: rgb(79, 218, 137);
}


.input_result{
    background-color: #4193ff;
    color: #ffffff;
    font-weight: bold;
    width: 40%;

}




